body {
    margin: 0px;
    background-image: url('img/pomba.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.body2 {
    background-image: url('img/flor.webp');
}

.bemVindo {
    width: 100%;
}

.btn {
    height: 10vh;
    color: rgb(251, 255, 0);
    border: black solid 2px;
    box-shadow: 0px 0px 12px 2px purple;
    border-radius: 45vh;
    transition: 1s;
    cursor: pointer;
    width: 98%;
    letter-spacing: 15px;
    outline: none;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 250%;
    outline: none;
}

.btn:hover {
    box-shadow: 0px 0px 12px 2px yellow;
    background-color: purple;
    opacity: 0.3;
    color: rgb(0, 0, 0);
}

.matheusImg {
    height: 92vh;
}

.containerVindo {
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.matheus {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    color: yellow;
    box-shadow: 0px 0px 12px 2px purple;
    background-color: black;
    height: 8vh;
}

.dove {
    border-radius: 45%;
    background-color: yellow;
    height: 8vh;
    animation: doveMove 3s;
}

@keyframes doveMove {
    from {
        position: absolute;
        margin-top: 50%;
        height: 40vh;
    }
    to {
        margin: 0;
        position: absolute;
    }
}

.box {
    border-radius: 5%;
    font-size: 150%;
    margin: 2%;
    color: rgb(229, 255, 0);
    width: 60%;
    height: 40%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.623);
    border: white solid 2px;
}

.box h1 {
    background-color: rgba(255, 255, 255, 0.514);
    text-align: center;
    color: rgb(0, 0, 0);
}

.paiNovidades {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: yellow;
}

.novidades {
    justify-content: center;
    color: yellow;
    display: flex;
    margin: 2%;
    background-color: rgba(0, 0, 0, 0.76);
    height: 40vh;
    width: 90%;
    border: 2px solid white;
}

.novidadeImg {
    width: 60%;
    height: 100%;
    cursor: pointer;
}

.novidadeImg:hover {
    opacity: 0.5;
}

@keyframes bvNovidades {}

.divisaUmPai {
    height: 10%;
    width: 100%;
}

.divisaUm {
    width: 100%;
    background-color: black;
    color: blanchedalmond;
    font-size: 4vh;
    height: 10%;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 100%;
}

.boxPrimeira {
    border-radius: 5%;
    font-size: 1rem;
    margin: 5%;
    color: white;
    height: 25%;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.623);
    border: white solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.boxPrimeira h1 {
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.514);
    text-align: center;
    color: yellow;
}

.boxPrimeira a {
    color: rgb(238, 255, 0);
}

footer {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    border-top: yellow solid 2px;
}

.containerFooter {
    display: flex;
    background-color: purple;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
  border-right: 2px yellow solid;
  border-left: 2px yellow solid;
}

.boxFooter {
    margin: 2%;
    display: flex;
    flex-direction: column;
    color: blanchedalmond;
    text-align: center;
}

.boxFooter p {
    cursor: pointer;
    transition: 1s;
}

.boxFooter img:hover {
    background-color: yellow;
    box-shadow: 0px 0px 12px 2px yellow;
}

.boxFooter p:hover {
    color: purple;
    background-color: yellow;
    box-shadow: 0px 0px 12px 2px yellow;
}

.boxFooter img {
    color: white;
    cursor: pointer;
    background-color: purple;
    box-shadow: 0px 0px 12px 2px purple;
    height: 3vh;
    transition: 500ms;
}

.euFooter {
    border-radius: 45vh;
    border: yellow solid 4px;
    box-shadow: 0px 0px 12px 2px yellow;
    height: 24vh;
    background-image: url("img/azulButterfly.webp");
    background-size: cover;
}

@media only screen and (max-width: 900px) {
    .containerFooter{
flex-direction: column-reverse;
    }
    .novidadeImg {
        width: 100%;
    }
    .btn {
        font-size: 150%;
    }
    .matheus {
        font-size: 50%;
    }
    .box {
        width: 100%;
        font-size: 100%;
    }
}