body{
    background-image: url(../../img/gotasNaflor.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgba(54, 0, 54, 0.438);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 50vh;
    width: 50vw;
    background-color: black;
    border: purple solid 2px;
    border-radius:4vh ;
    color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
h1{
    color: yellow;
    font-size: 1rem;
    border-bottom: yellow solid 2px ;

}
p{
    color: yellow;
    box-shadow: 0px 0px 12px 2px purple;
    box-shadow: -5px 0px 5px 0px yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 4vh;
    border: purple solid 2px; 
    border-right: yellow solid 2px ;
    background-color: black;
    border-radius: 4vh;
}
input{
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.658);
    width: 80%;
    font-size: 0.7rem;
    color: yellow;
    border-left: yellow solid 2px ;
    outline: none;
    height: 4vh;
}
button{
    background-color: black;
    color: yellow;
    border-radius: 4vh;
    border: purple solid 2px;
    transition: 1s;
    transform: rotateZ(1440deg);
}
button:hover{
    background-color: yellow;
    color: black;
}
@media only screen and (max-width: 800px) {
    .box{
       height: 80vh;
       width: 70vw;
    }
}