body{
    background-image: url("../../img/livroLapisMeio.jpg");
    background-size: cover;
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 91vh;
}
.boxcad{
    border: purple solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgb(56,0,62);
background: linear-gradient(90deg, rgba(56, 0, 62, 0.500) 0%, rgba(203,0,255,0.200) 25%, rgba(43,21,163,0.500) 50%, rgba(5,4,255,0.500) 75%, rgba(4,0,99,0.500) 100%);
}

.separar{
 background-color: rgba(0, 0, 0, 0.705);
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2%;
    flex-wrap: wrap;
    border: yellow solid 2px;
    border-radius: 4vh;
    height: 60vh;

}
.boxcad h1{
    color: yellow;
    font-size: 1rem;
    border-bottom: yellow solid 2px ;

}
.boxcad input{
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.658);
    width: 80%;
    font-size: 0.7rem;
    color: yellow;
    border-left: yellow solid 2px ;
    outline: none;
    height: 4vh;
    animation: crescerInput 4s ;
}
@keyframes crescerInput{
    from{
        /* height: 0%; */
        font-size:0vh;
        width: 0%;
    }
}
.boxcad p{
    color: yellow;
    box-shadow: 0px 0px 12px 2px purple;
    box-shadow: -5px 0px 5px 0px yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 4vh;
    border: purple solid 2px; 
    border-right: yellow solid 2px ;
    background-color: black;
    border-radius: 4vh;
}
.boxcad ::placeholder{
    font-size: 0.7rem;
    color: yellow;
    text-align: center;
}

@media only screen and (max-width: 800px) {
.boxcad{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.separar{
    width: 90%;
    border-bottom: none;
}
}
button{
    background-color: black;
    color: yellow;
    border-radius: 4vh;
    border: purple solid 2px;
    transition: 1s;
    transform: rotateZ(1440deg);
}
button:hover{
    background-color: yellow;
    color: black;
}